*{
    box-sizing: border-box;
}

html,body{
    margin:0px;
}

.tools{
    background-color: aliceblue;
    height: 100px;
}

.content{

}

#canvas{
    height: 100%;
    width: 100%;
}

.tool-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    /* margin-left: 75px; */
}

.tool{
    width: 100%;
    /* align-items: center; */
    display: flex;
    justify-content: space-evenly;
}

.tool-img{
    height: 50px;
}

.tool-option{
    top: 80px;
    background: lightblue;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    left: 5px;
   
}

.pencil-size{

}

#pencil-slider{

}

#pencil{
    position: relative;
}

.pencil-color{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;
}

.eraser-dropdown{
    border: 1px solid;
    padding: 10px;
}

.eraser-size{

}

#eraser-slider{

}

.red-pencil{
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 15px;
    /* color: red; */
    background-color: red;
}

.green-pencil{
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 15px;
    background-color: lightgreen;
}

.blue-pencil{
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 15px;
    background: blue;
}

.black-pencil{
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 15px;
    background: black;
}

#eraser{
    position: relative;
}

.hide{
    display:none;
}

.active-tool{
    background: lightgray;
    padding: 12px;
    height: 75px;
    border-radius: 18px;
}

.selected-color{
    border: 4px solid yellow;
    height: 30px;
    width: 30px;
}

.sticky{
    position: absolute;
    left: 20%;
    width: 225px;
    top:20%;
}

.sticky-header{
    background: lightgrey;
    height: 30px;
    opacity: 0.6;
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
    align-items: center;
    border: 1px solid grey;
    width:100%
}

.sticky-content{

}

.minimize{
    border: 1px solid;
    height: 80%;
    width: 25px;
    border-radius: 34px;
    background: lightgreen;
    margin-right: 7px;
}

.close{
    border: 1px solid;
    height: 80%;
    width: 25px;
    border-radius: 34px;
    margin-right: 6px;
    /* margin-left: -7px; */
    background: indianred;
}

.sticky-content textarea{
    background: white;
    margin: 0px;
    max-width: 225px;
    min-width: 225px;
    height: 210px;
    border: 1px solid lightgrey;
}
